<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/home.css"/>
</head>
<body>
<div class="space">
    <div class="header">
        <button name="home-button" onclick="window.location.href = 'http://localhost:8080/home';"></button>
    </div>
    <div class="navigation_line">
        <form action="/home" method="get" class="search_field_class">
            <input class="search_field" type="search" name="childmeal" id="site_search" placeholder="Искать здесь..." value="{{.searchQuery}}" size="97">
            <button name="search" type="submit">Поиск</button>
        </form>
        <button name="cart"
                onclick="window.location.href = 'http://localhost:8080/milkreq/{{.milkreq_ID}}';"
                {{if eq .meals_cnt 0}} disabled {{end}}>
            Заявка <span class="meals-count">{{.meals_cnt}}</span>
        </button>
    </div>
    <div class="container">
        {{range .filteredCards}}
        <div class="card">
            <div class="card-image-container">
                <img src="{{.ImageUrl}}" class="card-image">
            </div>
            <div class="card-text">
                <p class="title-in-card">{{.MealInfo}}{{.MealWeight}}</p>
                <div class="buttons-in-card">
                    <button onclick="window.location = 'http://localhost:8080/meal/{{.ID}}'" class="card-button">Подробнее</button>
                    <form action="/home" method="post">
                        <input type="hidden" name="add" value="{{.ID}}">
                        <button class="card-button">+</button>
                    </form>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
</body>
</html>