<!DOCTYPE html>
<html lang="rus">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{.title}}</title>
  <link rel="stylesheet" href="/css/milkreq.css"/>
</head>
<body>
<div class="space">
  <div class="header">
    <button name="home-button" onclick="window.location.href = 'http://localhost:8080/home';"></button>
  </div>
  <div class="navigation_line">
    <div class="header_delete_btn">
      <p class="cart-text">Заявка</p>
      <form action="/milkreq/{{.CartID}}" method="post">
        <input type="hidden" name="delete" value="{{.CartID}}">
        <button class="delete-button" onclick="window.location.href = 'http://localhost:8080/home';">Удалить</button>
      </form>
    </div>
    <p class="cart-fields">Получатель: Каятский Павел</p>
    <p class="cart-fields">Адрес: Красная Площадь, 1</p>
    <p class="cart-fields">Дата и время доставки: 22.09.24 12:00</p>
  </div>
  <div class="container">
    {{range .CartMeals}}
    <div class="card">
      <div class="card-image-n-text">
        <div class="card-image">
          <img src="{{.ImageUrl}}" class="card-image">
        </div>
        <div class="card-text">
          <p class="title-in-card">{{.MealInfo}}{{.MealWeight}}</p>
        </div>
      </div>
      <div class="item_count">
        <p class="item_count_value">1</p>
      </div>
    </div>
    {{end}}
  </div>
</div>
</body>
</html>