<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.PageTitle}}</title>
    <link rel="stylesheet" href="/css/start.css"/>
</head>
<body>
<div class="header-class">
    <button name="home-button" onclick="window.location.href = 'http://localhost:8080/home';"></button>
    <h1>Заказ питания на молочную кухню</h1>
</div>
<div class="main-info">
    <p></p>
    <buttont
</div>
</body>
</html>
